            @media (max-width: 1200px) {
                #divbox {
                    background: white;
                    border-style: none;
                    width: 45em;
                    height: 30em;
                    position: absolute;
                    left: 15em;
                    bottom: 3em;
                    border-radius: 10px;
                }
            }
            
            @media (max-width: 1000px) {
                #divbox {
                    background: white;
                    border-style: none;
                    width: 45em;
                    height: 30em;
                    position: absolute;
                    left: 8em;
                    bottom: 3em;
                    border-radius: 10px;
                }
            }
            
            @media (max-width: 900px) {
                #divbox {
                    background: white;
                    border-style: none;
                    width: 45em;
                    height: 30em;
                    position: absolute;
                    left: 4.8em;
                    bottom: 3em;
                    border-radius: 10px;
                }
            }
            
            @media (max-width: 850px) {
                #divbox {
                    background: white;
                    border-style: none;
                    width: 45em;
                    height: 30em;
                    position: absolute;
                    left: 3.3em;
                    bottom: 3em;
                    border-radius: 10px;
                }
            }
            
            @media (max-width: 800px) {
                #divbox {
                    background: white;
                    border-style: none;
                    width: 38em;
                    height: 30em;
                    position: absolute;
                    left: 5em;
                    bottom: 4em;
                    border-radius: 10px;
                }
                #Reply1 {
                    margin-left: 18em;
                    margin-top: 9.3em;
                    position: absolute;
                }
                #Report1 {
                    margin-left: 14em;
                    margin-top: 9.3em;
                    position: absolute;
                }
            }
            
            @media (max-width: 750px) {
                #divbox {
                    background: white;
                    border-style: none;
                    width: 38em;
                    height: 30em;
                    position: absolute;
                    left: 3.5em;
                    bottom: 4em;
                    border-radius: 10px;
                }
            }
            
            @media (max-width: 700px) {
                #divbox {
                    background: white;
                    border-style: none;
                    width: 38em;
                    height: 30em;
                    position: absolute;
                    left: 2.5em;
                    bottom: 4em;
                    border-radius: 10px;
                }
            }
            
            @media (max-width: 675px) {
                #divbox {
                    background: white;
                    border-style: none;
                    width: 26em;
                    height: 34em;
                    position: absolute;
                    left: 5.5em;
                    bottom: 1em;
                    border-radius: 10px;
                }
                /* 1 */
                #Report1 {
                    margin-left: 18em;
                    margin-top: 12.5em;
                    position: absolute;
                }
                #Reply1 {
                    margin-left: 13em;
                    margin-top: 12.5em;
                    position: absolute;
                }
                #setacima1 {
                    margin-left: 6em;
                    margin-top: 10.2em;
                    width: 1.3em;
                    position: absolute;
                }
                #n2 {
                    margin-left: 7.6em;
                    margin-top: 10.3em;
                    position: absolute;
                }
                #setabaixo1 {
                    margin-left: 8.5em;
                    margin-top: 10.2em;
                    width: 1.3em;
                    position: absolute;
                }
                #linha-vertical {
                    margin-left: 3.4em;
                    margin-top: 5em;
                    height: 300px;
                    border-right: 1px solid lightgrey;
                    position: absolute;
                }
                /* 2 */
                #img2 {
                    width: 3em;
                    height: 3em;
                    margin-left: 6.1em;
                    margin-top: 12em;
                    position: absolute;
                }
                #nome4 {
                    margin-left: 10em;
                    margin-top: 13.2em;
                    position: absolute;
                }
                #nome5 {
                    color: grey;
                    margin-left: 22em;
                    margin-top: 16em;
                    position: absolute;
                }
                #nome6 {
                    margin-left: 10em;
                    margin-top: 15em;
                    position: absolute;
                }
                #Report2 {
                    margin-left: 23em;
                    margin-top: 20em;
                    position: absolute;
                }
                #Reply2 {
                    margin-left: 18em;
                    margin-top: 20em;
                    position: absolute;
                }
                #setacima2 {
                    margin-left: 10em;
                    margin-top: 16.5em;
                    width: 1.3em;
                    position: absolute;
                }
                #n5 {
                    margin-left: 11.8em;
                    margin-top: 16.7em;
                    position: absolute;
                }
                #setabaixo2 {
                    margin-left: 13em;
                    margin-top: 16.5em;
                    width: 1.3em;
                    position: absolute;
                }
                #linha-vertical2 {
                    margin-left: 7.5em;
                    margin-top: 12em;
                    height: 190px;
                    border-right: 1px solid lightgrey;
                    position: absolute;
                }
                /* 3 */
                #img3 {
                    width: 3em;
                    height: 3em;
                    margin-left: 10em;
                    margin-top: 18.5em;
                    position: absolute;
                }
                #nome7 {
                    margin-left: 14em;
                    margin-top: 19.5em;
                    position: absolute;
                }
                #nome8 {
                    color: grey;
                    margin-left: 17em;
                    margin-top: 25em;
                    position: absolute;
                }
                #nome9 {
                    margin-left: 14em;
                    margin-top: 22.3em;
                    position: absolute;
                }
                #Reply3 {
                    margin-left: 22em;
                    margin-top: 29em;
                    position: absolute;
                }
                #Report3 {
                    margin-left: 27em;
                    margin-top: 29em;
                    position: absolute;
                }
                #setacima3 {
                    margin-left: 14em;
                    margin-top: 23.8em;
                    width: 1.3em;
                    position: absolute;
                }
                #n6 {
                    margin-left: 15.5em;
                    margin-top: 24em;
                    position: absolute;
                }
                #setabaixo3 {
                    margin-left: 16.3em;
                    margin-top: 23.8em;
                    width: 1.3em;
                    position: absolute;
                }
                #linha-vertical3 {
                    margin-left: 11.4em;
                    margin-top: 22em;
                    height: 30px;
                    border-right: 1px solid black;
                    position: absolute;
                }
                /* 4 */
                #img4 {
                    width: 3em;
                    height: 3em;
                    margin-left: 2em;
                    margin-top: 25em;
                    position: absolute;
                }
                #nome10 {
                    margin-left: 6em;
                    margin-top: 26em;
                    position: absolute;
                }
                #nome11 {
                    color: grey;
                    margin-left: 16.3em;
                    margin-top: 31.5em;
                    position: absolute;
                }
                #nome12 {
                    margin-left: 6em;
                    margin-top: 28em;
                    position: absolute;
                }
                #Reply4 {
                    margin-left: 18em;
                    margin-top: 36em;
                    position: absolute;
                }
                #Report4 {
                    margin-left: 13em;
                    margin-top: 36em;
                    position: absolute;
                }
                #setacima4 {
                    margin-left: 6em;
                    margin-top: 29.7em;
                    width: 1.3em;
                    position: absolute;
                }
                #n7 {
                    margin-left: 7.6em;
                    margin-top: 29.8em;
                    position: absolute;
                }
                #setabaixo4 {
                    margin-left: 8.5em;
                    margin-top: 29.7em;
                    width: 1.3em;
                    position: absolute;
                }
                #linha-vertical4 {
                    margin-left: 3.4em;
                    margin-top: 29em;
                    height: 35px;
                    border-right: 1px solid lightgrey;
                    position: absolute;
                }
            }
            
            @media (max-width: 650px) {
                #divbox {
                    background: white;
                    border-style: none;
                    width: 26em;
                    height: 34em;
                    position: absolute;
                    left: 2em;
                    bottom: 1.5em;
                    border-radius: 10px;
                }
            }